﻿@using Microsoft.AspNetCore.Identity
@using Phone_Accessories.Application.Categories
@using Phone_Accessories.Models.Entity
@model IEnumerable<Phone_Accessories.ViewModels.Products.ViewProduct>
@inject UserManager<AppUser> userManager
@inject ICategoryService categoryService
@{
    ViewData["Title"] = "Home Page";
    var categories = await categoryService.GetAll();
    string userId = "";
    var user = await userManager.GetUserAsync(User);
    if (user != null)
        userId = user.Id;
}

<div class="sidebar">
    <div class="sidebar_section">
        <div class="sidebar_title">
            <h5>Danh mục</h5>
        </div>
        <ul class="sidebar_categories">
            @foreach (var category in categories)
            {
                <li><a asp-controller="Product" asp-action="GetProductBycategory" asp-route-id="@category.Id">@category.Name</a></li>
            }
        </ul>
    </div>
</div>

<!-- Main Content -->

<div class="main_content">

    <!-- Products -->

    <div class="products_iso">
        <div class="row">
            <div class="col">

                <!-- Product Sorting -->

                <div class="product_sorting_container product_sorting_container_top">
                    <ul class="product_sorting">
                        <li>
                            <span class="type_sorting_text">Default Sorting</span>
                            <i class="fa fa-angle-down"></i>
                            <ul class="sorting_type">
                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Product Name</span></li>
                            </ul>
                        </li>
                        <li>
                            <span>Show</span>
                            <span class="num_sorting_text">6</span>
                            <i class="fa fa-angle-down"></i>
                            <ul class="sorting_num">
                                <li class="num_sorting_btn"><span>6</span></li>
                                <li class="num_sorting_btn"><span>12</span></li>
                                <li class="num_sorting_btn"><span>24</span></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="pages d-flex flex-row align-items-center">
                        <div class="page_current">
                            <span>1</span>
                            <ul class="page_selection">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </div>
                        <div class="page_total"><span>of</span> 3</div>
                        <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                    </div>

                </div>

                <!-- Product Grid -->

                <div class="product-grid row">

                    @foreach (var item in Model)
                    {
                        var base64 = Convert.ToBase64String(@item.Image);
                        var imgSrc = string.Format("data:imgae/jpg;base64,{0}", base64);
                        var promotionPrice = @Math.Ceiling(@item.Price * Convert.ToDecimal((double)@item.PromotionPrice / 100));
                        var priceAfter = @Math.Ceiling(@item.Price - promotionPrice);

                        <div class="product-item men col-md-3 p-0">
                            <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.Id">
                                <div class="product discount product_filter">
                                    <div class="product_image">
                                        <img src="@imgSrc" height=200 alt="">
                                    </div>
                                    <div class="favorite favorite_left"></div>
                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-@item.PromotionPrice</span></div>
                                    <div class="product_info">
                                        <h6 class="product_name"><a href="single.html">@item.Name</a></h6>
                                        <div class="product_price">@priceAfter VND<span>@Math.Ceiling(@item.Price) VND</span></div>
                                    </div>
                                </div>
                            </a>

                            <div class="red_button add_to_cart_button"><a style="cursor: pointer; color:white !important;" onclick="addToCart('@userId', '@item.Id', '1')">Thêm giỏ hàng</a></div>
                        </div>
                    }

                </div>

                <!-- Product Sorting -->

                <div class="product_sorting_container product_sorting_container_bottom clearfix">
                    <ul class="product_sorting">
                        <li>
                            <span>Show:</span>
                            <span class="num_sorting_text">04</span>
                            <i class="fa fa-angle-down"></i>
                            <ul class="sorting_num">
                                <li class="num_sorting_btn"><span>01</span></li>
                                <li class="num_sorting_btn"><span>02</span></li>
                                <li class="num_sorting_btn"><span>03</span></li>
                                <li class="num_sorting_btn"><span>04</span></li>
                            </ul>
                        </li>
                    </ul>
                    <span class="showing_results">Showing 1–3 of 12 results</span>
                    <div class="pages d-flex flex-row align-items-center">
                        <div class="page_current">
                            <span>1</span>
                            <ul class="page_selection">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </div>
                        <div class="page_total"><span>of</span> 3</div>
                        <div id="next_page_1" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     function addToCart(userId, productId, quantity) {
         $.ajax({
         type: 'POST',
         url: '/Cart/Create',
         contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
         data: { "userId": userId, "productId": productId, "quantity": quantity},
         success: function (result) {
             alert('Successfully');            
         },
         error: function () {
             alert('Failed');           
         }
     })
    }
</script>
