﻿@model IEnumerable<Phone_Accessories.ViewModels.Products.ViewProduct>

@{
    ViewData["Title"] = "Index";
}

<p class="mt-3">
    <a asp-action="Create" class="btn-primary btn btn-sm">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Color
            </th>
            <th>
                Size
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
              
                <td>
                    @{
                        var base64 = Convert.ToBase64String(@item.Image);
                        var imgSrc = string.Format("data:imgae/jpg;base64,{0}", base64);
                    }
                    <img src="@imgSrc" height=50 width=50 />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOn)
                </td>
                <td>
                   <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a> |              
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
